h1 {
  color: #BA3B46;
  font-size: 45px;
  font-family: "Minecraft", sans-serif;
  font-style: normal;
}

#pie-pagina {
  color: #BA3B46;
}


td {
  text-align: center;
}


body {
  background-color: #FFEED8;
}

